<p id="notice"><%= notice %></p>

<h1>Pokes</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokes.each do |poke| %>
      <tr>
        <td><%= poke.description %></td>
        <td><%= link_to 'Show', poke %></td>
        <td><%= link_to 'Edit', edit_poke_path(poke) %></td>
        <td><%= link_to 'Destroy', poke, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Poke', new_poke_path %>
