<p id="notice"><%= notice %></p>

   <div class="row">
    <% @pokes.each do |poke| %>
     
        <div class="col-md-4 text-center" >
          <h1>Description</h1>
          <h3><%= poke.description %></h3>
            <%= link_to 'Show', poke %>
            <%= link_to 'Edit', edit_poke_path(poke) %>
            <%= link_to 'Destroy', poke, method: :delete, data:{ confirm: 'Are you sure?' } %>
        </div>
         <% end %>
     </div>
   
  

<br>

<%= link_to 'New Poke', new_poke_path %>
