<p id="notice"><%= notice %></p>

   <div class="row">
    <% @pokes.each do |poke| %>
     
        <div class="col-md-4 text-center" >
          <h1>Description</h1>
          <h3><%= poke.description %></h3>
          <%= image_tag poke.image.url(:medium)  %>
          <p>
            <%= link_to 'Show', poke , class:'btn btn-primary'%>
            <%= link_to 'Edit', edit_poke_path(poke),class:'btn btn-primary' %>
            <%= link_to 'Destroy', poke, method: :delete,class:'btn btn-primary', data:{ confirm: 'Are you sure?' } %>
            </p>
        </div>
         <% end %>
     </div>
   
  

<br>

<%= link_to 'New Poke', new_poke_path %>
